<!-- <div class="center jumbotron"> -->
<div class="header">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class = heading-primary-main><%= t('welcome') %></span>
            <span class = heading-primary-sub><%= t('greeting_html')%></span>
        </h1>

        <%= link_to t("signupNow") , signup_path, class: "btn btn-theme btn-animated" %>
    </div>
</div>
</br>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>