<% if I18n.locale == :en %>
Hi <%= @user.name %>,
<% else %>
<%= @user.name %><%= t("hello") %>
<% end %>

<%= t("welcomeActivationGreeting") %>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>