<h1><%= t("sampleApp") %><%= t("resetPassword") %></h1>

<p><%= t("welcomePasswordResetGreeting") %></p>

<%= link_to t("resetPassword"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t("welcomePasswordResetExpired") %></p>

<p><%= t("welcomePasswordResetIgnore") %></p>