<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :name %></span>
    <span><%= f.text_field :name, class: 'form-control' %></span>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :email %></span>
    <span><%= f.email_field :email, class: 'form-control' %></span>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :password %></span>
    <span><%= f.password_field :password, class: 'form-control' %></span>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :password_confirmation %></span>
    <span><%= f.password_field :password_confirmation, class: 'form-control' %></span>
  </div>
  <br>
  <%= f.label :api_token, class: "input-group" do %>
    <span class="input-group-addon"><%= t("changeAPIToken") %><b><%= @user.api_token %></b></span>
    <span class="form-control"><%= f.check_box :api_token_change, class: 'form-control' %></span>
  <% end %>
  <br>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>