  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="user">
      <%= gravatar_for user, size: 50 %>
      <span class="user-name"><%= link_to user.name, user %></span>
        <% if current_user.admin? && !current_user?(user) %>
          <span class="delete delete-box"><%= link_to t("delete"), user, method: :delete,
                                        data: { confirm: t("youSure") } %></span>
        <% end %>
    </div>
  </div>
