<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t("errorMessageForm") %>
      <% if I18n.locale == :en %>
        <%= pluralize(object.errors.count, t("errorMessage")) %>.
      <% else %>
        <%= object.errors.count %><%= t("errorMessage") %>
      <% end %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>