/* mixins, variables, etc. */

/* Color variables */

$gray-medium-light: #eaeaea;

@function set-40-text-color($color) {
  @if (lightness($color) > 50) {
    @return darken($color, 40%); // Lighter backgorund, return dark color
  } @else {
    @return lighten($color, 40%); // Darker background, return light color
  }
}
@function set-100-text-color($color) {
  @if (lightness($color) > 50) {
    @return darken($color, 100%); // Lighter backgorund, return dark color
  } @else {
    @return lighten($color, 100%); // Darker background, return light color
  }
}

/* Grey * /
$bgDefault      : #e0d9d9;

/* Blue */
$bgDefault      : #4286f4;
$bgImage        : url("bg.png");
$homeImage        : url("birds.jpg");
$textColor      : set-40-text-color($bgDefault);

$scotch-colors: (
  'link': #ccc, 
  'visited': #0c0,
  'hover': #00c,
  'active': #c00
);


/* Red * /
$bgDefault      : #f74747;

/* Green * /
$bgDefault      : #2ee85a;

/* Purple * /
$bgDefault      : #bf31d8;

/* Orange * /
$bgDefault      : #e67e22;

/*/

@function scotch-color($key: 'link') {
  @return map-get($scotch-colors, $key);
}

$bgHighlight    : lighten($bgDefault, 10%) ;
$colDefault     : set-40-text-color($bgDefault);
$colHover       : set-100-text-color($colDefault); /*  https://robots.thoughtbot.com/controlling-color-with-sass-color-functions */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin createButton{
  .create {
    a {
      border-radius: 0.5rem;
      border: 0.2rem solid #8AC007;
      padding: 0.5rem;
      width: 5rem;
      height: 1.7rem;
      background-color:#128C3F;
      color: #FFFFFF;
      &:hover {
        color: $gray-darker;
        background-color:#C5CAE7;
      }
    }
  }
}

@mixin editButton{
  .edit {
    a {
      border-radius: 0.5rem;
      border: 0.2rem solid #8AC007;
      background-color:#C5CAE7;
      padding: 0.5rem;
      width: 5rem;
      height: 1.7em;
      &:hover {
        color: $gray-darker;
        background-color:#ED2C67;
      }
    }
  }
}

@mixin deleteButton{
  .delete {
    a {
      border-radius: 0.5rem;
      border: 0.2rem solid #8AC007;
      background-color:#ED2C67;
      color:#0000FF;
      padding: 0.5rem;
      width: 5rem;
      height: 1.7rem;
      &:hover {
        color: $gray-darker;
        background-color:#128C3F;
      }
    }
  }
}