// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom.css.scss";
/* Users index */

.users {
  list-style: none;
  margin: 1rem;
  padding: 2rem;
  position:relative;
  div {
     overflow: auto;
     border-style:none;
    border: 0rem solid $gray-lighter;
    backface-visibility: hidden;
     div {
      width: 30rem;
      height: 10rem;
      margin: 1rem;
      border-radius: 5rem;
      background-color: transparentize(gray, 0.4);
      border: 0.1rem solid $gray-lighter;
      position: relative;
      animation: moveInLeft 1s ease-out;
      animation-iteration-count: 1;
      &:hover{
        background-color: transparentize(set-40-text-color(gray), 0.4);
      }
    }
  }
  @include deleteButton;
}

.user {
  position:relative;
}

.gravatar {
  position:absolute;
  top: 2rem;
  left: 2rem;
  display: inline;
  border-style:none;
  border: 0rem;
}

.user-name {
  position:relative;
  display: inline;
  top: 1rem;
  left: 10rem;
  border-style:none;
  border: 0rem;
  position: absolute;
  padding: 0.5rem;
  background-color: transparent;
  > a {
          color: #f2ece4;
          &:hover, &:focus {
                color: #b37399;
          }
  }
}

.delete-box {
  position:relative;
    display: inline;
    border-style:none;
    border: 0rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(190%, 90%);
    padding: 0.5rem;
    background-color: transparent;
}

/* sidebar */

aside {
  position: relative;
  display: inline-block;
  section.user_info {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 10rem;
  }
  section {
    padding: 1rem 0;
    margin-top: 2rem;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 0.3rem;
      line-height: 1;
    }
    h1 {
      font-size: 2.4rem;
      text-align: left;
      letter-spacing: -0.1rem;
      margin-bottom: 0.3rem;
      margin-top: 0rem;
    }
  }
}



//.gravatar {
//  float: left;
//  margin-right: 1rem;
//}

.gravatar_edit {
  margin-top: 1.5rem;
}

@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}