    <!--<nav class="navbar navbar-default">
     <div class="container-fluid"> -->  
      <%= render 'layouts/navbar-header' %>
      <%= render 'layouts/navbar-body' %>
    <!-- </div>   
    </nav>-->