        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right fa-ul">
            <li><%= link_to t("home"), root_path, :class => 'fa fa-home' %></li>
            <li><%= link_to t("help"), help_path, :class => 'fa fa-info' %></li>
            <%= render 'layouts/navbar-user-account' %>
            <li><%= link_to "  中文版", :controller => controller_name, :action => action_name, :locale => "zh-HK"%></li>
            <li><%= link_to "  English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
          </ul>
        </div>