            <% if logged_in? %>
              <li><%= link_to t("usersMenu"), users_path, :class => 'fa fa-users' %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle fa fa-user-plus" data-toggle="dropdown">
                  <%= t("account") %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("profile"), current_user, :class => 'fa fa-user' %></li>
                  <li><%= link_to t("settings"), edit_user_path(current_user), :class => 'fa fa-user-circle' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t("logoutNow"), logout_path, method: "delete", :class => 'fa fa-sign-out' %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t("loginNow"), login_path, :class => 'fa fa-sign-in' %></li>
            <% end %>